nav.main-nav ul{
    width: 600px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav a{
    color: var(--link-color);
}
@media screen and (max-width: 480px){
    nav.main-nav ul{
        font-size: 50px;
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        line-height: 1.5;
        align-content: center;
        margin-left: 5em;
    }
    :root{
        --link-color: black;
    }
}
