.banner{
    background: Var(--theme-color);
    color: #fff;
    font-size: 1.6em;
    text-align: center;
    padding: 100px 0 160px;
}
@media screen and (max-width: 480px){
    :root{
        --theme-color: purple;
    }
    .banner{
        width: 34em;
    }
}